# ==========================================
# CẤU HÌNH BIẾN MÔI TRƯỜNG (ENVIRONMENT)
# COPY FILE NÀY THÀNH FILE .env ĐỂ SỬ DỤNG
# ==========================================

# 1. Cấu hình Email SMTP (Gửi OTP)
SMTP_USER="your_email@gmail.com"
SMTP_PASS="your_app_password_16_letters"

# 2. Cấu hình Database (Nếu cần sau này)
DB_HOSTNAME="localhost"
DB_USERNAME="root"
DB_PASSWORD=""
DB_NAME="hcmue_pass_sach"
